* {
    box-sizing: border-box;
}

:root {
    --table-border-radius: 10px;
    --primary-color: #47261c;
    --secondary-color: #663526;
    --bright-secondary: #744334;
}

html, body {
    font-family: system-ui, "Segoe UI", 
        Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", 
        "Segoe UI Emoji", "Segoe UI Symbol";
        
    margin: 0;
    padding: 0;
}

body {
    background: url(img/books.jpg) no-repeat fixed;
    background-size: cover;
    text-align: center;
}

button:hover {
    cursor: pointer;
}

main {
    min-height: 100vh;
    background-color: rgb(0 0 0 / 0.65);
    position: relative;
    overflow: scroll;
}

/* Books */

table {
    border-collapse: collapse;
    min-width: 1200px;
    margin: 16px auto;
    box-shadow: 0px 0px 80px black;
}

caption {
    font-size: 1.5rem;
    font-weight: bold;
    margin: 32px 0;
    padding: 16px 0;
    color: white;
    background-color: #47261c;
    border: solid 2px white;
    border-radius: 16px;
    box-shadow: 4px 4px 4px rgb(0 0 0);
}

thead tr th:first-child {
    border-top-left-radius: var(--table-border-radius);
}

thead tr th:last-child {
    border-top-right-radius: var(--table-border-radius);
}

tbody tr:last-child :first-child {
    border-bottom-left-radius: var(--table-border-radius);
}

tbody tr:last-child td:nth-last-child(2) {
    border-bottom-right-radius: var(--table-border-radius);
}

thead th { 
    padding: 10px 12px;
    background-color: var(--primary-color);
    color: white;
}

th img {
    vertical-align: top;
    margin: auto;
    width: 20px;
    height: 20px;
}

tbody tr:nth-child(2n) th {
    background-color: #DDD;
}

tbody tr:nth-child(2n) td {
    background-color: #DDD;
}

tbody tr:nth-child(2n + 1) td {
    background-color: #CCC;
}

tr {
    position: relative;
}

td {
    padding: 14px 0;
    text-align: center;
}

.deleteButton {
    position: absolute;
    padding: 0;
    margin: 0;
    right: -32px;
    top: 11px;

    width: 24px;
    height: 24px;

    border: none;
    border-radius: 4px;
    background: black;
}

.toggleButton {
    position: absolute;
    margin-left: 6px;
    border: none;
    border-radius: 4px;
    background-color: var(--secondary-color);
    color: white;
    padding: 2px 4px;
}

.deleteButton:hover {
    opacity: 0.75;
}

.deleteButton:active {
    opacity: 0.5;
}

.add-container {
    position: fixed;
    top: 10px;
    left: 10px;
}

/* Button */

.newBookButton {
    font-size: 1.05rem;
    font-weight: 500;
    color: white;
    padding: 8px 16px;
    border: solid 1px white;
    border-radius: 8px;
    background-color: var(--bright-secondary);
    cursor: pointer;
}

.newBookButton:hover {
    background-color: var(--secondary-color);
}

.newBookButton:active {
    background-color: var(--primary-color);
}

/* Form */

#dialog {
    margin-top: 16px;
    background-color: rgb(0 0 0 / 0.65);
    border: solid 1px white;
    border-radius: 16px;
    color: white;
    padding: 24px;
}

form {
    display: grid;
    gap: 16px;
}

.form-container {
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    gap: 4px;
}

input[type="text"], input[type="number"] {
    padding: 4px 8px;
    background-color: #EEE;
    border: 1px solid gray;
    border-radius: 4px;
    outline: none;
}


.req {
    font-size: 0.9rem;
    text-align: start;
}

input[type="text"]:focus, input[type="number"]:focus {
    background-color: #DDD;
}

.form-radio {
    border-radius: 8px;
    display: flex;
    justify-content: space-evenly;
}

form button {
    border: none;
    border-radius: 4px;
    padding: 4px 12px;
    margin: 0 4px;
}

a:link {
    text-decoration: none;
    color: white;
}

a:visited {
    text-decoration: none;
    color: white;
}

.img-author {
    color: white;
    position: absolute;
    bottom: 10px;
    right: 10px;
    opacity: 0.75;
}